image: elixir:alpine

services:
  - postgres:alpine
variables:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  RELEASE_IMAGE: registry.gitlab.com/rihardst/cloud_project_phoenix/blog_project:0.1.0

cache:
  paths:
    untracked: true
    - blog/deps
    - blog/_build

before_script:
  - mix local.hex --force
  - mix local.rebar --force
  - cd blog
  - mix deps.get
  - mix compile
  - mix ecto.setup

test1:
  stage: test
  script:
    - mix test

build:
  stage: build
  when: manual
  script:
    - cd blog
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com/rihardst/cloud_project_phoenix
    - docker build -t ${RELEASE_IMAGE} -f ./Dockerfile.release .
    - docker push ${RELEASE_IMAGE}
