stages:
  - test
  - release
  - dast

include:
  - template: SAST.gitlab-ci.yml
  - template: Container-Scanning.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

variables:
  DAST_WEBSITE: https://rudenspavasaris.id.lv
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  RELEASE_IMAGE: registry.gitlab.com/rihardst/cloud_project_phoenix:0.1.0
  CI_APPLICATION_REPOSITORY: registry.gitlab.com/rihardst/cloud_project_phoenix
  CI_APPLICATION_TAG: 0.1.0

cache:
  untracked: true
  paths:
    - blog/deps
    - blog/_build

test:
  image: elixir:alpine
  services:
    - postgres:alpine
  stage: test
  only:
    changes:
     - blog/**/*
  script:
    - mix local.hex --force
    - mix local.rebar --force
    - cd blog
    - mix deps.get
    - mix compile
    - mix ecto.setup
    - mix test

release:
  image: docker:latest
  services:
   - docker:dind
  stage: release
  when: manual
  script:
    - cd blog
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker build -t ${RELEASE_IMAGE} -f ./Dockerfile.release .
    - docker push ${RELEASE_IMAGE}
