<h1><%= @article.title %></h1>

<strong>Published:</strong>
<%= @article.published %>

<%= {:safe, Earmark.as_html!(@article.content)} %>

<span><%= link "Edit", to: Routes.article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: Routes.article_path(@conn, :index) %></span>
